.heroBanner {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.heroBanner h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
}

.heroBanner p {
    font-size: 1.1rem;
    padding: .6rem;
    margin-top: 1.2rem; 
    font-weight: 600;
    text-align: center;
}

.heroBanner img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}