

.menuSection {
    /* background-color: blue; */
    border: 2px solid var(--main-orange);
}

.menuH3 {
    color: rgb(255, 94, 0);
    text-align: center;
    padding: .5rem;
    border-top: solid 1px white;
}

.filters {
    /* background-color: lightgreen; */
    display: flex;
    justify-content: center;
    gap: 10px;
}

.filters button {
    background-color: white;
    width: 20%;
    font-size: 1rem;
}

.filters button:active {
    transform: scale(0.95);
}

.filters button:hover {
    background-color: rgb(255, 94, 0);
    border-color: darkgoldenrod;
    cursor: pointer;
}

.menuGrid {
    background-color: lightgray;
}

.menuCard {
    background-color: yellowgreen;
}